<p>book works!</p>
<div>
  <div>
    <a routerLink="/create">Thêm sách mới</a>
    <p>có {{total}} cuốn sách</p>
  </div>
  <table class="table table-bordered table-hover table-red">
    <tr>
      <th>#</th>
      <th>Tên sách</th>
      <th>Tác Giả</th>
      <th>Tên sách</th>
    </tr>
    <tr *ngFor="let book of books;index as i">
      <td>{{i+1}}</td>
      <td><a [routerLink]="['/view/'+book.id]">{{book.title}}</a></td>
      <td>{{book.author}}</td>
      <td><a style="color: yellow" [routerLink]="['/edit/'+book.id]">sửa</a>/<a style="color: red" [routerLink]="['/delete/'+book.id]">xóa</a></td>
    </tr>
  </table>
</div>
