<p>view-book works!</p>
<form #bookForm="ngForm" (ngSubmit)="view()">
  <table >
    <tr>
      <th>Tên sách:</th>
      <td><input readonly type="text" name="title" [(ngModel)]="book.title"></td>
    </tr>
    <tr>
      <th>Tác giả:</th>
      <td><input readonly type="text" name="author" [(ngModel)]="book.author"></td>
    </tr>
    <tr>
      <th>Mô tả:</th>
      <td><input readonly type="text" name="description" [(ngModel)]="book.description"></td>
    </tr>
    <tr>
      <th></th>
      <td><button>Back List</button></td>
    </tr>
  </table>
</form>
